# All unecessary file types

*.log
*.htm
*.sh
*.bat
*.json
*.pyc
*spec
# Files containing potentially important data

*\carrierStats.py
*\carrierSpecs.py
*\journalReader.py
*\testytest.py

# Folders containing useless/important data


**/build/**
**/dist/**
**/output/**
**/__pycache__/**
**/assets/**